<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="stylesheet" href="/Public/css/addproduct.css">
</head>

<body class="addproduct-body">
    <div class="addproduct-wapper">
        <form action="">
            <h1>Add Product</h1>
            <div class="mb-3">
                <input class="addproduct-input-file" type="file" id="formFile">
              </div>
            <div class="addproduct-input-box">
                <div class="addproduct-input-field">
                    <input type="text" placeholder="Product Name" required>
                </div>
                <div class="addproduct-input-field">
                    <input type="text" placeholder="Description" required>
                </div>
            </div>
            <div class="addproduct-input-box">
                <div class="addproduct-input-field">
                    <input type="text" placeholder="Price" required>
                </div>
                <div class="addproduct-input-field">
                    <input type="text" placeholder="Quantity" required>
                </div>
            </div>
            <button type="submit" class="addproduct-btn"><b>Add Product</b></button>
        </form>
    </div>
</body>

</html>