<!DOCTYPE html>
<html lang="en">

<head>
    <title>Footer Design</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Public/css/footer.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body class="footer-body">

    <footer class="footer">
        <div class="container-footer">
            <div class="row-footer">
                <!-- <div class="footer-col">
                    <h4 class="footer-h4">about us</h4>
                    <ul class="footer-ul">
                        <p class="footer-p"> we believe in the beauty of handmade creations. Every piece we craft tells a story, woven with patience and passion.</p>
                    </ul>
                </div> -->
                <div class="footer-col">
                    <h4 class="footer-h4">company</h4>
                    <ul class="footer-ul">
                        <li class="footer-li"><a href="#" class="footer-a">contact us</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">our services</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">privacy policy</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="footer-h4">get help</h4>
                    <ul class="footer-ul">
                        <li class="footer-li"><a href="#" class="footer-a">FAQ</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">shipping</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">returns</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">order status</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">payment options</a></li>
                    </ul>
                </div>
                <!-- <div class="footer-col">
                    <h4 class="footer-h4">contact us</h4>
                    <ul class="footer-ul">
                        <li class="footer-li"><a href="#" class="footer-a">FAQ</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">shipping</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">returns</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">order status</a></li>
                        <li class="footer-li"><a href="#" class="footer-a">payment options</a></li>
                    </ul>
                </div> -->
                <div class="footer-col">
                    <h4 class="footer-h4">follow us</h4>
                    <div class="social-links">
                        <a href="#" class="footer-a"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="footer-a"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="footer-a"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="footer-a"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>