<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeContent</title>
    <link rel="stylesheet" href="/Public/css/homecontent.css">
</head>

<body class="homecontent-body">
    <div class="homecontent-contianer">
        <div class="homecontent-block">
            <div class="homecontent-img">
                <img src="/Public/img/slides1.jpg" alt="">
            </div>
            <div class="homecontent-content">
                <h5>pottery artwork</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet voluptates,
                    necessitatibus at corrupti, repellendus porro veniam quisquam obcaecati sit vero adipisci qui.
                    Obcaecati quo quaerat eaque dolores, commodi harum.</p>
                <button>see more</button>
            </div>
        </div>

        <div class="homecontent-block">
            <div class="homecontent-img">
                <img src="/Public/img/slides1.jpg" alt="">
            </div>
            <div class="homecontent-content">
                <h5> artwork</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet voluptates,
                    necessitatibus at corrupti, repellendus porro veniam quisquam obcaecati sit vero adipisci qui.
                    Obcaecati quo quaerat eaque dolores, commodi harum.</p>
                    <button>see more</button>
            </div>
        </div>

        <div class="homecontent-block">
            <div class="homecontent-img">
                <img src="/Public/img/slides1.jpg" alt="">
            </div>
            <div class="homecontent-content">
                <h5>glass artwork</h5>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eveniet voluptates,
                    necessitatibus at corrupti, repellendus porro veniam quisquam obcaecati sit vero adipisci qui.
                    Obcaecati quo quaerat eaque dolores, commodi harum.</p>
                    <button>see more</button>
            </div>
        </div>
    </div>
</body>

</html>