<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/Public/css/homepage.css">
</head>
<body>
    <div class="headnavbar">
        <img src="/Public/" alt="" class="logo">
        <ul>
            <li><a href="">Search</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Wishlist</a></li>
            <li><a href="">Cart</a></li>
        </ul>
    </div>
</body>
</html>