<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/Public/css/slider.css">
</head>

<body class="slider-body">
    <div class="slider-contanier">

        <div class="slide">

            <div class="slide-item" style="background-image: url('/Public/img/slides1.jpg');">
                <div class="slide-content">
                    <div class="slide-name">Hands of Creation</div>
                    <div class="slide-description">In every piece of pottery, there's a fingerprint of the artist, a
                        mark of their creativity and soul</div>
                    <button class="slide-button">See More</button>
                </div>
            </div>

            <div class="slide-item" style="background-image: url('/Public/img/slide2.jpg');">
                <div class="slide-content">
                    <div class="slide-name">Artwork</div>
                    <div class="slide-description">In every piece of pottery, there's a fingerprint of the artist, a
                        mark of their creativity and soul</div>
                    <button class="slide-button">See More</button>
                </div>
            </div>

            <div class="slide-item" style="background-image: url('/Public/img/slides3.jpg');">
                <div class="slide-content">
                    <div class="slide-name">Glass Art</div>
                    <div class="slide-description">In every piece of pottery, there's a fingerprint of the artist, a
                        mark of their creativity and soul</div>
                    <button class="slide-button">See More</button>
                </div>
            </div>

            <div class="slide-item" style="background-image: url('/Public/img/craft1.jpg');">
                <div class="slide-content">
                    <div class="slide-name">Embroidery</div>
                    <div class="slide-description">In every piece of pottery, there's a fingerprint of the artist, a
                        mark of their creativity and soul</div>
                    <button class="slide-button">See More</button>
                </div>
            </div>

            <div class="slide-item" style="background-image: url('/Public/img/slides1.jpg');">
                <div class="slide-content">
                    <div class="slide-name">Woodworking</div>
                    <div class="slide-description">In every piece of pottery, there's a fingerprint of the artist, a
                        mark of their creativity and soul</div>
                    <button class="slide-button">See More</button>
                </div>
            </div>

        </div>
        <div class="prev-next-button">
            <button class="prev-button-slide"><i class="fa-solid fa-arrow-left"></i></button>
            <button class="next-button-slide"><i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>

</body>
<script src="./slider.js"></script>
</html>