<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/Public/css/userporfile.css">
</head>

<body>
    <div class="card">

        <div class="profile-pic">

        </div>
        <div class="bottom">
            <div class="content">

                <span class="name">My Name</span>
                <span class="about-me">Lorem ipsum dolor sit amet consectetur adipisicinFcls </span>
                
            </div>
            <div class="bottom-bottom">
                
                <button class="button">Contact Me</button>
                <button class="button">Contact Me</button>

            </div>
        </div>
    </div>
</body>

</html>