.logo {
    width: 120px;
    cursor: pointer;
}

.headnavbar {
    width: 85%;
    margin: auto;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headnavbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.headnavbar ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.headnavbar ul li ::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.headnavbar ul li:hover ::after {
    width: 100%;
}