.login-body {
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('/Public/img/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
}

.box {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.container {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 20px 30px;
    background: rgba(255, 255, 255, .1);
}

.para-login {
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    margin-top: 10px;
}

.para-login a {
    font-weight: 700;
    /* font-size: 19px; */
    background: linear-gradient(to right,#2d0b00, #00093c);
    -webkit-background-clip: text;
    color: transparent;
}



.header-login {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.input-box .input {
    height: 45px;
    width: 87%;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    font-size: 15px;
    padding: 0 0 0 45px;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}

i {
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
    font-size: 20px;
}

::-webkit-input-placeholder {
    color: #fff;
}

.submit {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
    color: black;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.submit:hover {
    /* box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2); */
    content: "";
    color: #fff;
    width: 100%;
    border-radius: 40px;
    background: linear-gradient(to right, #00093c, #2d0b00);
    top: 0;
    left: 0;
    z-index: 1;
}

.two-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    margin-top: 10px;
}

.one {
    display: flex;

}

.label-login a {
    text-decoration: none;
    color: #fff;
}

