.headernavbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom: 2px solid rgba(0, 0, 0, 0.544);
}

.headernavbar ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
    border-bottom: 2px;
}

.headernavbar ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.headernavbar ul li ::after {
    content: '';
    height: 3px;
    width: 0;
    background-color: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.headernavbar ul li:hover ::after {
    width: 100%;
}

.headernavbar .i {
    color: black;
}



.logout-button {

    text-transform: uppercase;
}


@media screen and (max-width:1400px) {

    .headernavbar .i {
        color: black;
        font-size: 23px;
    }

    .headernavbar ul li a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-size: 23px;
    }

    .logout-button {
        text-transform: uppercase;
        font-size: 23px;

    }

}


@media screen and (max-width: 374px) {

    .headernavbar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        border-bottom: 2px solid rgba(0, 0, 0, 0.544);
    }

    .headernavbar .i {
        color: black;
        font-size: 16px;
    }

    .logout-button {
        text-transform: uppercase;
        font-size: 16px;

    }

}